#bodyer{
    margin-bottom:20px;
}
#mybg{
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("../img/zonghe.jpg");
    background-color: rgb(255,255,255);
    background-size: cover;
    opacity: 0.6;
    width: 100%;
    height: 100%;
}
body{
    padding-top: 65px;
}
#footer{
    color: #888;
}

.panel{
    background-color: rgba(245,245,255,0.5);
    box-shadow: 1px 1px 3px #AAA;
}
.tab-content{
    background-color: rgba(245,245,255,0.5);
    
    border: 1px solid #DDD;
    border-top: none;
    box-shadow: 1px 1px 3px #AAA;
}
.nav-tabs{
    box-shadow: 4px 0px 2px -2px #AAA;
}
#top-panel{
    background: url(../img/top-panel3.jpg) no-repeat;
    /*background-repeat: repeat-x;*/
    background-repeat: repeat;
    background-size: cover;
    border-top: solid 2px #006080;
    padding-bottom: 5px;
    margin-bottom: 20px;
    height: auto;
}

#hot-body{
    height: auto;
    overflow: scroll;
    overflow-y:scroll;
    overflow-x: hidden;
}


.swiper-container {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: #000;
}
.swiper-slide {
    background-size: cover;
    background-position: center;
}
.gallery-top {
    height: 80%;
    width: 100%;
}
.gallery-thumbs {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}
.gallery-thumbs .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}
.gallery-thumbs .swiper-slide-active {
    opacity: 1;
}